// $theme-colors: (
//   "primary": #4281A4,
//   "danger":  #4281A4
// );

.jumbotron {
    border-radius: 0 !important;
}

.LandingJumbo {

    // Style
    background-color: black;
    border-bottom:7px solid #b33500;

    h1 {
        color: #fff;
        font-size: 48px;  
        font-weight: bold;
    }

    h3 {
        // color: #2F4858;
        color: lightgray;
        font-weight: bold;
    }
      
    p {
        font-size: 20px;
        color: #fff;
    }
}

.LJImgFull {
    // Image
    background-image: url("../Images/Udon.jpg");
    // background-position-x: center;
    // background-position-y: top -300px;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    height: 450px;
}

.LJImgNav {
    // Image
    background-image: url("../Images/Udon.jpg");
    // background-position-x: center;
    // background-position-y: top -300px;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    height: 250px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-right {
    float: right;
}

.itemName {
    font-weight: 400;
    font-size: 25px;
}

.itemInfo {
    font-weight: 400;
    font-size: 20px;
}

.itemTime {
    font-weight: 400;
}

.itemList {
    font-weight: 300;
}

.course {
    a {
        color: '#393c3d';
    }
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.iconStyle {
    vertical-align: sub;
    padding-right: 5px;
}