.LandingJumbo {
    background-color: #4281A4;
    max-height: 350px;

    h1 {
        color: #fff;
        font-size: 48px;  
        // font-family: 'Cousine', ;
        font-weight: bold;
    }

    h3 {
        color: #2F4858;
        /* font-size: 4px; */
        font-family: 'Cousine', ;
        /* font-family: 'Shift', sans-serif; */
        font-weight: bold;
    }
      
    p {
        font-size: 20px;
        color: #fff;
    }
}